table {
    border-collapse: collapse;
    width: 40vw;
    
}
th ,td {
    width: auto !important;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.button {
    margin: 1px 3px;
    padding: 5px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    color: gray;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    font-weight: bold;
}
.button:focus {
    outline: none;
}
.button:hover {
    transition: background-color 0.3s ease;
    border: none;
}
.edit:hover {
    background-color: #3D5BFA;
    color: white;
}
.delete:hover {
    background-color: red;
    color: white;
}